<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href={{ "/css/normalize.css" | relative_url }}>
  <link rel="stylesheet" href={{ "/css/solo.css" | relative_url }}>
  <link rel="stylesheet" href={{ "/css/syntax.css"| relative_url }}>
  {% if site.font-awesome-include %}<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">{% endif %}
  <link rel="canonical" href="{{ site.url }}" />
</head>
<body>
  <article>
   <div class="container">
      <div id="navbar">
        <a href={{ "/" | relative_url }}>Home</a>
        <div class="nav_spacer">|</div>
        <a href={{ "/notes" | relative_url }}>Notes</a>
        <div class="nav_spacer">|</div> 
        <a href={{ "/posts" | relative_url }}>Posts</a>
      </div>
      <h4>{{ page.title }}</h4>
      {{ content }}
      <div class="date">{{ page.date | date: "%Y-%m-%d" }}</div>
    </div>
  </article>
  <script src={{ "/scripts/zooming.min.js" | relative_url }}></script>
  <script>if (window.Zooming) window.addEventListener('load', function () { new Zooming().listen('.post-content img') })</script>
</body>
</html>
